<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Insovereas Handmade papers </title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />
        <link rel='stylesheet' href="{% static '' %}what.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>
<style>
body
body{
    background-color: #0f72e5;
}
/* Full-width input fields */
input[type=text], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
    </head>




  <!-- END HEAD -->

    <!-- START BODY -->
    <body class="no_js responsive stretched">

        <!-- START BG SHADOW -->
        <div class="bg-shadow">

            <!-- START WRAPPER -->
            <div id="wrapper" class="group">

                <!-- START HEADER -->
                <div id="header" class="group">

                    <div class="group inner">

                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="/" title="Pink Rio"><img src="{% static 'crp.png' %}" title="tajhandmadepapers" alt="tajhandmadepapers"  width="70" height="70" /></a>
                        </div>
                        <!-- END LOGO -->

                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote"><p style="color:green;"><b>WELCOME TO THE INSOVERSEAS HANDMADE PAPERS </b></p></blockquote>
                                <cite class="text-quote-author"> Manufacturer and exporter of traditional handmade paper and paper products</cite>
<div>




</div>



                            </div>
                        </div>
                        <div class="clearer"></div>

                        <hr />

                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">

                                <li>
                                    <a href="/">HOME</a>
                                    <ul class="sub-menu">
                                        <li><a href="/"><p style="color:black;">HOME.</p></a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/handmadepapers/about/">ABOUT US</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/about/">ABOUT US</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#">PRODUCTS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/leatherjournal/">JOURNAL</a></li>
                                        <li><a href="/handmadepapers/Lbags/">LEATHER BAGS</a></li>
                                        <li><a href="/handmadepapers/christmas/">CHRISTMAS</a></li>
                                        <li><a href="/handmadepapers/paperbags/">PAPERSBAG</a></li>
                                        <li><a href="/handmadepapers/handmadepaper/">HANDMADEPAPERS</a></li>
                                          <li><a href="/handmadepapers/lamp/">LAMP</a></li>
                                        <li><a href="/handmadepapers/boxes/">BOXES</a></li>
                                        <li><a href="/handmadepapers/gift/">GIFT</a></li>
                                        <li><a href="/handmadepapers/cards/">CARDS</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/handmadepapers/factoury/">FACTORY TOUR</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/factoury/">FACTORY TOUR</a></li>


                                    </ul>
                                </li>








                                 <li>
                                    <a href="/handmadepapers/seedpapers/">SEEDPAPERS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/seedpapers/">SEEDPAPERS</a></li>


                                    </ul>
                                </li>




<li>
                                    <a href="/handmadepapers/gallery/">GALLERY</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/gallery/">GALLERY</a></li>


                                    </ul>
                                </li>





                                <li>
                                    <a href="/handmadepapers/contact/">CONTACT</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/contact/">CONTACT</a></li>


                                    </ul>
                                </li>
                                <li>




 </ul>
                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>

                </div>
                <!-- END HEADER -->







                <!-- BEGIN #slider -->
				<div id="slider-elastic" class="slider elastic ei-slider" style="width: 100%; height: 400px;">
				    <div class="ei-slider-loading">Loading</div>
				    <ul class="ei-slider-large">
				        <li class="first slide-1 slide">
				            <a href="" target="_blank"><img src="{% static '' %}slide.jpg" alt="sci11" title="" /></a>
				            <div class="ei-title">
				                <h2><a href="" target="_blank">BEST HANDMADE PAPERS </a></h2>

				            </div>
				        </li>
				        <li class="slide-2 slide">
				            <img width="1280" height="500" src="{% static '' %}slide.jpg" alt="dolce11" title=" " />
				            <div class="ei-title">
				                <h2>GO GREEN SAVE EARTH</h2>

				            </div>
				        </li>
				        <li class="slide-3 slide">
				            <img src="{% static '' %}slide.jpg" alt="love1" title=" " />
				            <div class="ei-title">
				                <h2>100% ECO FRIENDLY PAPERS</h2>

				            </div>
				        </li>
				        <li class="slide-4 slide align-">
				            <img width="1280" height="500" src="{% static '' %}slide.jpg" alt="red-passion1" title=" " />
				            <div class="ei-title">
				                <h2>SAVE TREE SAVE PLANET</h2>

				            </div>
				        </li>
				        <li class="last slide-5 slide align-">
				            <img src="{% static '' %}slide.jpg" alt="xx21" title="" />
				            <div class="ei-title">
				                <h2>HANDMADE PAPERS MANUFACTURER</h2>

				            </div>
				        </li>
				    </ul>
				    <!-- ei-slider-large -->
<ul class="ei-slider-thumbs">
				        <li class="ei-slider-element">Current</li>
				        <li><a href="#">love the sport - </a><img src="images/slider-elastic/sci11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">So sweet, so cute - </a><img src="images/slider-elastic/dolce11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">This premium theme - </a><img src="images/slider-elastic/love1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Love the red fruit - </a><img src="images/slider-elastic/red-passion1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Enjoy your freedom... - </a><img src="images/slider-elastic/xx21-150x59.jpg" alt=" - " /></li>
				    </ul>
				    <!-- ei-slider-thumbs -->
				    <div class="shadow"></div>
				</div>
				<!-- ei-slider -->
				<!-- END #slider -->
				<script type="text/javascript">
				    jQuery(document).ready(function($){
				        $('#slider-elastic.elastic').eislideshow({
        				    easing		: 'easeOutExpo',
        				    titleeasing	: 'easeOutExpo',
        				    titlespeed	: 1200,
        				    autoplay	: true,
        				    slideshow_interval : 3000,
        				    speed       : 800,
        				    animation   : 'sides'
				        });
				    });
				</script>


				<!-- END PRIMARY -->


<center><h1 style="color:#006400;"><b>WELCOME TO THE INSOVERSEAS</b></h1></center>

                <center><h5 style="color:#008000;"><b>100% ECO FRIENDLY PAPERS PRODUCTS</b></h5></center>
                <center> <p><b>We are here to protect our environment and save our planet Making paper by hand at home can be a pretty simple process. It’s also a fantastic way to use up your old receipts, scrap papers, junk mail, and copy paper that you were about to throw in the recycling bin, and instead create a thing of glorious handmade beauty</b></p>  </center>
                <center><p><b>Insoverseas papers are manufacturer and exporter of cotton recycled handmade paper and gift paper products in India and also have the largest production capacity in India to meet your highest demands. We are providing good quality of papers With Widest product , Icon of premium quality and customer service, Neck to neck pricing, Top brand reputation, Extra soft, hygienic and super absorbent products, and Extra care for you. The history of the paper is related to the history of human culture and civilization. The Egyptians, the Greeks, and the Romans wrote on "Papyrus", a paper – like the material. Today's paper was first developed and used in China. This paper was the most important carrier of information in the past since its birth</b></p></center>






        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="inner group">
                <!-- START CONTENT -->
                <div id="content-home" class="content group">
                    <div class="hentry group">

                        <div class="section portfolio">
                       <center><h2 style="color:#006400;"><b>OUR MOST POPULAR CATEGORY</b></h2></center>
                            <div class="portfolio-projects">

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mtwo.jpg" alt="0061" title="0061" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mtwo.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/leatherjournal/"></a>
                                                <span class="overlay_title">LEATHER JOURNAL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">LEATHER JOURNAL</a></h4>
                                    <p>We are manufactuer of all type of lether journal it depends on consumer requirements
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mthree.jpg" alt="0071" title="0071" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mthree.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/Lbags/"></a>
                                                <span class="overlay_title">LEATHER BAGS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">LEATHER BAGS</a></h4>
                                    <p>We also produce all type of leather bags it depends on actully what our consumer wants
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}msix.jpg" alt="0081" title="0081" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}msix.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/paperbags/"></a>
                                                <span class="overlay_title">PAPERS BAGS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">PAPERS BAGS</a></h4>
                                    <p>We are manufacturer of cool stylish papers bags and make cool ecofriendly bag for people
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}monee.jpg" alt="009" title="009" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}monee.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/christmas/"></a>
                                                <span class="overlay_title">CHRISTMAS ORNAMENTS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">CHRISTMAS ORNAMENTS</a></h4>
                                    <p>We are the exporter and producer of christmas gift item for people
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfour.jpg" alt="0011" title="0011" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfour.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/seedpapers/"></a>
                                                <span class="overlay_title">SEED PAPERS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">SEED PAPERS</a></h4>
                                    <p>Seed papers are the best papers because we grow plant through this
                                </div>

                                <div class="related_project_last related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfive.jpg" alt="0027" title="0027" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfive.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="/handmadepapers/handmadepaper/"></a>
                                                <span class="overlay_title">HANDMADE PAPERS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">HANDMADE PAPERS</a></h4>
                                    <p>We are the best handmade papers manufacturer and produce almost 250 variety of papers
                                </div>

                            </div>
                        </div>


                    <!-- END COMMENTS -->
                </div>
                <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
            </div>
        </div>
        <!-- END PRIMARY -->























 <!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="clear"></div>
				            <div class="posts">
				                <div class="group portfolio-post internal-post">
				                    <div id="portfolio" class="portfolio-full-description">



				                        <div class="portfolios hentry work group">
				                            <div class="work-thumbnail">
				                                <a class="thumb"><img src="{% static '' %}alexas.jpg" alt="0081" title="0081" /></a>
				                            </div>
				                            <div class="work-description">
				                                <p>There was a need to increase the population and transfer knowledge, education, and information to society on a large scale, which was the factors that forced paper growth for a great increase. Paper was a valuable product in earlier times and paper made an art – which was often kept secret because of the outstanding benefits of the product. Handmade paper in India goes back as a third century BC. Handmade paper making is a traditional art that is popular for generations together by people of a particular class. This art has been passed from one generation to another generation of artisans. These artisans are known as "Kagzi's". His name is derived from the Urdu word 'Kavas', which means paper. The size of this community has decreased in the last few years. There is a small area of 'insoverseas' in Sanganer near Jaipur, where a section of this community had settled thousands of years ago.</p>
				                                <p>The 'Kagzi' community in Sanganer is the primary owner of the handmade paper industry in the town. Our history comes back in the 14th century when ruler Firoze Shah Tughlaq was there. Even in those days, handmade paper made by them was used to make copies of official documents, miniatures, calligraphy, and Holy Quran and to maintain account books. In the 16th century, Raja Man Singh, the then ruler of Ambar, brought the Kagzi in Sanganer and settled them on the banks of Saraswati river, where clear water was easily available. Thus, this city has emerged as one of North India's largest paper producing centers</p>

				                                <div class="clear"></div>

				                            </div>
				                            <div class="clear"></div>
				                        </div>

				                        <div class="clear"></div>

                                        <center><h3><b>OTHER PRODUCTS</b></h3></center>

				                        <div class="portfolio-full-description-related-projects">



				                        </div>
				                    </div>
				                    <div class="clear"></div>
				                </div>
				            </div>
				        </div>
				        <!-- END CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->


<center><img src="{% static '' %}abyess-modified.png" alt="0081" title="" /></center>








 <!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="clear"></div>
				            <div class="posts">
				                <div class="group portfolio-post internal-post">
				                    <div id="portfolio" class="portfolio-full-description">



				                        <div class="portfolios hentry work group">
				                            <div class="work-thumbnail">
				                                <a class="thumb"><img src="{% static '' %}alexass.jpg" alt="" title="" /></a>
				                            </div>
				                            <div class="work-description">
				                                <p>insoverseas handmade providing a variety of top-quality products to fulfilling the demands of our clients and consumer, we have become one of the largest leather journal manufacturers in India. We have the widest product portfolio and proud to get the icon of premium quality and customer service. insoverseas handmade papers believe in the neck to neck pricing and providing soft, hygienic, and absorbent products. With the help of these tags, we have maintained the reputation of our company and we provide good quality of papers</p>
				                                <p>We use leather which is premium quality strong and durable so that it lasts for a long period and it tends to get better with age. The quality of the paper is premium and just perfect for writing anything with any pen. The leather journal provided by taj papers udyog is light-weight and comes in various latest and trendy designs. Different sizes are also available for customers so that they can choose according to their writing purposes. Journals with ancient designs are also available which helps the customers to connect with history</p>

				                                <div class="clear"></div>

				                            </div>
				                            <div class="clear"></div>
				                        </div>

				                        <div class="clear"></div>

				                        <h3></h3>

				                        <div class="portfolio-full-description-related-projects">

				                            <div class="related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/leatherjournal/" title="LEATHERJOURNAL"><img src="{% static '' %}leatherjournal.jpg" alt="0061" title="" /></a>

				                            </div>

				                            <div class="related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/Lbags/" title="LEATHERBAGS"><img src="{% static '' %}mthree.jpg" alt="0071" title="" /></a>

				                            </div>

				                            <div class="related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/christmas/" title="CHRISTMASORNAMENTS"><img src="{% static '' %}monee.jpg" alt="009" title="" /></a>

				                            </div>

				                            <div class="related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/paperbags/" title="PAPERSBAG"><img src="{% static '' %}moneee.jpg" alt="0011" title="" /></a>

				                            </div>

				                            <div class="related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/handmadepaper/" title="HANDMADEPAPERS"><img src="{% static '' %}moneees.jpg" alt="0027" title="" /></a>

				                            </div>

				                            <div class="related_project_last related_project">
				                                <a class="related_proj related_img" href="/handmadepapers/boxes/" title="PAPERSBOXES"><img src="{% static '' %}moneeess.jpg" alt="0034" title="" /></a>

				                            </div>



				                        </div>
				                    </div>
				                    <div class="clear"></div>
				                </div>
				            </div>
				        </div>
				        <!-- END CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->





<center><img src="{% static '' %}abyesss-modified.png" alt="0081" title="insoverseas" /></center>











<div style="background-color:white;">
        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="inner group">
                <!-- START CONTENT -->
                <div id="content-home" class="content group">
                    <div class="hentry group">

                        <div class="section portfolio">
                            <h3 class="title"></h3>
                            <div class="portfolio-projects">

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mkkkkkk.jpg" alt="0061" title="0061" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mkkkkkk.jpg" rel="lightbox" title=""></a>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mkkkkk.jpg" alt="0071" title="0071" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mkkkkk.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mkkkk.jpg" alt="0081" title="0081" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mkkkk.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mkkk.jpg" alt="009" title="009" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mkkk.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mkk.jpg" alt="0011" title="0011" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mkk.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project_last related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mk.jpg" alt="0027" title="0027" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mk.jpg" rel="lightbox" title=""></a>
                                            </div>




                                        </div>
                                    </div>

                                </div>







                            </div>












                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfourr.jpg" alt="0061" title="0061" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfourr.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfivee.jpg" alt="0071" title="0071" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfivee.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfives.jpg" alt="0081" title="0081" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfives.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfivess.jpg" alt="009" title="009" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfivess.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfivesss.jpg" alt="0011" title="0011" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfivesss.jpg" rel="lightbox" title=""></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="related_project_last related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="{% static '' %}mfivessss.jpg" alt="0027" title="0027" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="{% static '' %}mfivessss.jpg" rel="lightbox" title=""></a>

                                            </div>




                                        </div>
                                    </div>
                                  
                                </div>







                            </div>

















                        </div>

                        <div class="clear"></div>








                    </div>
                    <!-- START COMMENTS -->
                    <div id="comments">
                    </div>
                    <!-- END COMMENTS -->
                </div>
                <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
            </div>
        </div>
        <!-- END PRIMARY -->


</div>





<center><img src="{% static '' %}jore.png" alt="0081" title="insoverseas" /></center>







                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>






<center><h3> <b>Location: Jain Mandir Road, Sanganer Jaipur, (Raj.), India.</b></h3></center>
                <center><h3> <b>Mobile number: 9829809983</b></h3></center>
                <center><h3> <b>Phone number: 0091-141-2732342</b></h3></center>



<center>
   <a href=""><img src="{% static 'what.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
  <a href=""><img src="{% static 'instagram.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
   <a href=""><img src="{% static 'facebook.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href=""><img src="{% static 'twitter.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href=""><img src="{% static 'link.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
</center>
<center><a href="mailto:info@tajpapers.com">info@insoverseas.com</a></center>

</div>






				<!-- START COPYRIGHT -->
                <div id="copyright">
                    <div class="inner group">
                        <div class="left">
                            <a href=""><strong>ALL RIGHTS RESERVE BY INSOVERSEAS</strong></a>
                        </div>
                        <div class="right">
                            <a href="#" class="socials-small facebook-small" title="Facebook">facebook</a>
                            <a href="#" class="socials-small rss-small" title="Rss">rss</a>
                            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>
                            <a href="#" class="socials-small flickr-small" title="Flickr">flickr</a>
                            <a href="#" class="socials-small skype-small" title="Skype">skype</a>
                            <a href="#" class="socials-small google-small" title="Google">google</a>
                            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END BG SHADOW -->





        <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>

    </body>
    <!-- END BODY -->
</html>
