<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Pink Rio | A strong, powerful and multiporpose WordPress Theme</title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>

    </head>
    <!-- END HEAD -->
    
    <!-- START BODY -->
    <body class="no_js responsive page-template-home-php stretched">
        
        <!-- START BG SHADOW -->
        <div class="bg-shadow">
            
            <!-- START WRAPPER -->
            <div id="wrapper" class="group">
                
                <!-- START HEADER -->
                <div id="header" class="group">
                    
                    <div class="group inner">
                        
                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="index.html" title="Pink Rio"><img src="images/logo.png" title="Pink Rio" alt="Pink Rio" /></a>
                        </div>
                        <!-- END LOGO -->
                        
                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote">&#8220;The caterpillar does all the work but the butterfly gets all the publicity.&#8221;</blockquote>
                                <cite class="text-quote-author">George Carlin</cite>
                            </div>
                        </div>
                        <div class="clearer"></div>
                        
                        <hr />
                        
                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">
                                
                                <li>
                                    <a href="index.html">HOME</a>
                                    <ul class="sub-menu">
                                        <li><a href="home-ii.html">Home II</a></li>
                                        <li><a href="home-iii.html">Home III</a></li>
                                        <li><a href="home-iv.html">Home IV</a></li>
                                        <li><a href="home-v.html">Home V</a></li>
                                        <li><a href="home-vi.html">Home VI</a></li>
                                        <li><a href="home-vii.html">Home VII</a></li>
                                        <li><a href="home-viii.html">Home VIII</a></li>
                                        <li><a href="home-ix.html">Home IX</a></li>
                                        <li><a href="home-x.html">Home X</a></li>
                                        <li><a href="landing-page.html">Landing page</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">SLIDERS</a>
                                    <ul class="sub-menu">
                                        <li><a href="slider-layerslider.html">LayerSlider</a></li>
                                        <li><a href="slider-flexslider.html">FlexSlider</a></li>
                                        <li><a href="slider-elastic-slider.html">Elastic</a></li>
                                        <li><a href="slider-thumbnails.html">Thumbnails</a></li>
                                        <li><a href="slider-cycle.html">Cycle</a></li>
                                        <li><a href="slider-static-header.html">Static header</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">CORPORATE</a>
                                    <ul class="sub-menu">
                                        <li><a href="corporate-about.html">About</a></li>
                                        <li><a href="landing-page.html">Landing page</a></li>
                                        <li><a href="corporate-videogallery.html">Videogallery</a></li>
                                        <li><a href="corporate-testimonials.html">Testimonials</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">PORTFOLIO</a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio-filterable.html">Filterable</a></li>
                                        <li><a href="portfolio-three-columns.html">Three columns</a></li>
                                        <li><a href="project.html">Full description</a></li>
                                        <li><a href="portfolio-big-image.html">Big Image</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">BLOG</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-big-image.html">Big image</a></li>
                                        <li><a href="blog-small-image.html">Small image</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">FEATURES</a>
                                    <ul class="sub-menu">
                                        <li><a href="features-right-sidebar.html">Right sidebar</a></li>
                                        <li><a href="features-left-sidebar.html">Left sidebar</a></li>
                                        <li><a href="features-full-width.html">Full width</a></li>
                                        <li><a href="error-404.html">404 error</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="#">SHORTCODES</a>
                                    <ul class="sub-menu">
                                        <li><a href="shortcodes-typography.html">Typography</a></li>
                                        <li><a href="shortcodes-icon-section.html">Icon section</a></li>
                                        <li><a href="shortcodes-alert-box-buttons.html">Alert box &#038; Buttons</a></li>
                                        <li><a href="shortcodes-tables-box-prices.html">Tables &#038; Box prices</a></li>
                                        <li><a href="shortcodes-media-widgets.html">Media &#038; Widgets</a></li>
                                        <li><a href="shortcodes-mix-various.html">Mix &#038; Various</a></li>
                                    </ul>
                                </li>
                                
                                <li class="remove-under-1024">
                                    <a href="http://themeforest.net/item/pink-rio-responsive-multipurpose-theme/3091259">PURCHASE PINK RIO</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://www.yourinspirationweb.com/tf/support/forum/viewforum.php?f=27">Support forum</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>
                    
                </div>
                <!-- END HEADER -->
                
                <script>
				    jQuery(document).ready(function($){
				    	$('.sidebar').remove();
				    	
				    	if( !$('#primary').hasClass('sidebar-no') ) {
				    		$('#primary').removeClass().addClass('sidebar-no');
				    	}
				    	
				    });
				</script>







	<!-- START PRIMARY -->
    <div id="primary" class="sidebar-no">
        <div class="inner group">
            <!-- START CONTENT -->
            <div id="content-page" class="content group">
                <div class="clear"></div>
                <div class="posts">
                    <div class="group portfolio-post internal-post">
                        <div id="portfolio" class="portfolio-full-description">
                            
                            <div class="fulldescription_title gallery-filters">
                                <h1>Steep This!</h1>
                            </div>
                            
                            <div class="portfolios hentry work group">
                                <div class="work-thumbnail">
                                    <a class="thumb"><img src="images/projects/0081-700x345.jpg" alt="0081" title="0081" /></a>
                                </div>
                                <div class="work-description">
                                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl et ipsum. Donec dapibus lacus nec sapien faucibus eget suscipit lorem mattis.</p>
                                    <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque. Maecenas aliquet, diam sed rhoncus vestibulum,<strong> sem lacus ultrice</strong>s est, eu hendrerit tortor nulla in dui. Suspendisse enim purus, euismod interdum viverra eget, ultricies eu est. Maecenas dignissim mauris id est semper suscipit. Suspendisse venenatis vestibulum quam, quis porttitor arcu vestibulum et.</p>
                                    <p>Sed <a href="http://yourinspirationweb.com/demo/sheeva/work/xmas-icons/#">porttitor eros </a>ut purus elementum a consectetur purus vulputate</p>
                                    <div class="clear"></div>
                                    <div class="work-skillsdate">
                                        <p class="skills"><span class="label">Skills:</span> Illustrator</p>
                                        <p class="workdate"><span class="label">Customer:</span> Steep This!</p>
                                        <p class="workdate"><span class="label">Year:</span> 2012</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <h3>Other Projects</h3>
                            
                            <div class="portfolio-full-description-related-projects">
                                
                                
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
    <!-- END PRIMARY -->
    





				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-left">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">
				            <div class="hentry group">
				                <h3>Welcome to <span>PINK RIO</span>. Anoter clean, STRONG WordPress theme.</h3>
				                <p>As a multidisciplinary practice that has evolved as a result of scholarly research, Organizational Change <strong>Management should begin</strong> with a systematic diagnosis of the current situation in order to determine both the need for change.</p>
				                <p>Change Management processes may include creative marketing to enable communication between change audiences, but also deep social understanding about leadership’s styles and group dynamics. As a visible track on transformation projects, <a href="#">Organizational Change</a> Management aligns groups’ expectations, communicates, integrates teams and manages people training.</p>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START SIDEBAR -->
				        <div class="sidebar group">
				            <div class="widget-first widget testimonial-widget">
				                <h3>Testimonials</h3>
				                <div class="testimonial-text">
				                    <ul>
				                        <li>
				                            <blockquote>
				                                <p>I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their website. Would definitely recommend to anyone needing a corporate wordpress theme. </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Erica Evans </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5 Purchases. Once you get used to how the content is organised in Admin, </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Ricardo Mori </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>I am absolutely thrilled with this theme! I have never built a website before but your instructions and design make it both fun and easy to do. …Thanks a lot for your help! your support </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Elisa Meis </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>I already given a <strong>5-star rating</strong>, but I also wanted to provide my two cents in case anyone is unsure about purchasing this theme. Not only is the theme itself very versatile and easy to </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Joy Mergot </a></div>
				                            </blockquote>
				                        </li>
				                    </ul>
				                </div>
				                <script type="text/javascript">
				                    jQuery(document).ready(function($){
				                        $('.testimonial-widget ul').cycle({
				                            fx:'scrollLeft',
				                            timeout:8000,
				                            speed:300, 
				                            pager:'.p-testimonial',
				                            fit: 1,
				                            width: '100%'
				                        });
				                    });
				                </script>
				            </div>
				        </div>
				        <!-- END SIDEBAR -->
				        <!-- START EXTRA CONTENT -->
				        <div class="extra-content group">
				            <div class="section portfolio">
				                <h3 class="title">Gallery images</h3>
				                <div class="portfolio-projects">
				                    <div class="related_project">
				                        <a title="" href="images/home-ix/0022.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/0022-175x175.jpg" alt="0022" title="0022" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="images/home-ix/00313.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/00313-175x175.jpg" alt="00313" title="00313" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="images/home-ix/00111.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/00111-175x175.jpg" alt="00111" title="00111" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="images/home-ix/0058.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/0058-175x175.jpg" alt="0058" title="0058" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="images/home-ix/0076.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/0076-175x175.jpg" alt="0076" title="0076" />					</a>
				                    </div>
				                    <div class="related_project_last related_project">
				                        <a title="" href="images/home-ix/0094.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="images/home-ix/0094-175x175.jpg" alt="0094" title="0094" />					</a>
				                    </div>
				                </div>
				            </div>
				            <div class="clear"></div>
				        </div>
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
				
				<!-- START COPYRIGHT -->
                <div id="copyright">
                    <div class="inner group">
                        <div class="left">
                            <a href="http://yithemes.com/?ddownload=2046&ap_id=pinkrio-html"><strong>Download the free version for Wordpress</strong></a>
                        </div>
                        <div class="right">
                            <a href="#" class="socials-small facebook-small" title="Facebook">facebook</a>
                            <a href="#" class="socials-small rss-small" title="Rss">rss</a>
                            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>
                            <a href="#" class="socials-small flickr-small" title="Flickr">flickr</a>
                            <a href="#" class="socials-small skype-small" title="Skype">skype</a>
                            <a href="#" class="socials-small google-small" title="Google">google</a>
                            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END BG SHADOW -->
        

        <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>
        
    </body>
    <!-- END BODY -->
</html>