<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Pink Rio | A strong, powerful and multiporpose WordPress Theme</title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>


        <style>
.responsive {
  width: 100%;
  height: auto;
}
</style>



    </head>
    <!-- END HEAD -->



  <!-- END HEAD -->

    <!-- START BODY -->
    <body class="no_js responsive stretched">

        <!-- START BG SHADOW -->
        <div class="bg-shadow">

            <!-- START WRAPPER -->
            <div id="wrapper" class="group">

                <!-- START HEADER -->
                <div id="header" class="group">

                    <div class="group inner">

                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="/" title="Pink Rio"><img src="{% static 'crp.png' %}" title="tajhandmadepapers" alt="tajhandmadepapers"  width="70" height="70" /></a>
                        </div>
                        <!-- END LOGO -->

                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote"><p style="color:green;"><b>WELCOME TO THE INSOVERSEAS HANDMADE PAPERS </b></p></blockquote>
                                <cite class="text-quote-author"> Manufacturer and exporter of traditional handmade paper and paper products</cite>
<div>




</div>



                            </div>
                        </div>
                        <div class="clearer"></div>

                        <hr />

                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">

                                <li>
                                    <a href="/">HOME</a>
                                    <ul class="sub-menu">
                                        <li><a href="/"><p style="color:black;">HOME.</p></a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/handmadepapers/about/">ABOUT US</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/about/">ABOUT US</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#">PRODUCTS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/leatherjournal/">JOURNAL</a></li>
                                        <li><a href="/handmadepapers/Lbags/">LEATHER BAGS</a></li>
                                        <li><a href="/handmadepapers/christmas/">CHRISTMAS</a></li>
                                        <li><a href="/handmadepapers/paperbags/">PAPERSBAG</a></li>
                                        <li><a href="/handmadepapers/handmadepaper/">HANDMADEPAPERS</a></li>
                                          <li><a href="/handmadepapers/lamp/">LAMP</a></li>
                                        <li><a href="/handmadepapers/boxes/">BOXES</a></li>
                                        <li><a href="/handmadepapers/gift/">GIFT</a></li>
                                        <li><a href="/handmadepapers/cards/">CARDS</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/handmadepapers/factoury/">FACTORY TOUR</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/factoury/">FACTORY TOUR</a></li>


                                    </ul>
                                </li>








                                 <li>
                                    <a href="/handmadepapers/seedpapers/">SEEDPAPERS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/seedpapers/">SEEDPAPERS</a></li>


                                    </ul>
                                </li>




<li>
                                    <a href="/handmadepapers/gallery/">GALLERY</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/gallery/">GALLERY</a></li>


                                    </ul>
                                </li>





                                <li>
                                    <a href="/handmadepapers/contact/">CONTACT</a>
                                    <ul class="sub-menu">
                                        <li><a href="/handmadepapers/contact/">CONTACT</a></li>


                                    </ul>
                                </li>
                                <li>




 </ul>
                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>

                </div>
                <!-- END HEADER -->


                <script>
				    jQuery(document).ready(function($){
				    	$('.sidebar').remove();

				    	if( !$('#primary').hasClass('sidebar-no') ) {
				    		$('#primary').removeClass().addClass('sidebar-no');
				    	}

				    });
				</script>







	<!-- START PRIMARY -->
    <div id="primary" class="sidebar-no">
        <div class="inner group">
            <!-- START CONTENT -->
            <div id="content-page" class="content group">
                <div class="clear"></div>
                <div class="posts">
                    <div class="group portfolio-post internal-post">
                        <div id="portfolio" class="portfolio-full-description">

                            <div class="fulldescription_title gallery-filters">
                              <center><h2 style="color:#006400;"><b>SEED PAPERS MANUFACTURER</b></h2></center>
                            </div>

                            <div class="portfolios hentry work group">
                                <div class="work-thumbnail">

                                        <img src="{% static '' %}errr.png" alt="Nature" class="responsive" width="600" height="400">
                                </div>
                                <div class="work-description">
                                    <p>Seed paper is a particular environment-friendly paper made from discarded materials containing wildflower, herb, or vegetable seeds. When you place the paper in a pot of soil or outdoors in a greenhouse, the seeds in the paper should germinate and mature into plants. And when you talk about the best seed paper manufacturer in India, Insoverseas handmade papers is considered as one of the best seed-paper suppliers, exporter, and manufacturer in India. We adhere to provide the best quality and services to our customers with a wide range of varieties and care.

insoverseas handmade papers as a seed paper manufacturer transforms the waste into wealth. We have developed valuable knowledge to create self-developed seed paper over the years. Our manufacturing factory in India produces seed paper completely. We use different sizes, seeds, paper grammages, and printing technology and can deliver special custom work partly because of this and our production options</p>
                                    <p></p>

                                    <div class="clear"></div>

                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>

                            <h3></h3>

                            <div class="portfolio-full-description-related-projects">



                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
    <!-- END PRIMARY -->






				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-left">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">

				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START SIDEBAR -->
				        <div class="sidebar group">
				            <div class="widget-first widget testimonial-widget">
				                <h3>Testimonials</h3>
				                <div class="testimonial-text">
				                    <ul>
				                        <li>
				                            <blockquote>
				                                <p>I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their website. Would definitely recommend to anyone needing a corporate wordpress theme. </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Erica Evans </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5 Purchases. Once you get used to how the content is organised in Admin, </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Ricardo Mori </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>I am absolutely thrilled with this theme! I have never built a website before but your instructions and design make it both fun and easy to do. …Thanks a lot for your help! your support </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Elisa Meis </a></div>
				                            </blockquote>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p>I already given a <strong>5-star rating</strong>, but I also wanted to provide my two cents in case anyone is unsure about purchasing this theme. Not only is the theme itself very versatile and easy to </p>
				                                <a href="testimonial.html" class="more-link">[...]</a>
				                                <div class="name-testimonial"><a class="name-testimonial" href="testimonial.html">Joy Mergot </a></div>
				                            </blockquote>
				                        </li>
				                    </ul>
				                </div>
				                <script type="text/javascript">
				                    jQuery(document).ready(function($){
				                        $('.testimonial-widget ul').cycle({
				                            fx:'scrollLeft',
				                            timeout:8000,
				                            speed:300,
				                            pager:'.p-testimonial',
				                            fit: 1,
				                            width: '100%'
				                        });
				                    });
				                </script>
				            </div>
				        </div>
				        <!-- END SIDEBAR -->
				        <!-- START EXTRA CONTENT -->
				        <div class="extra-content group">
				            <div class="section portfolio">
				                   <center><h2 style="color:#006400;"><b>LEATHER JOURNAL </b></h2></center>
				                <div class="portfolio-projects">
				                    <div class="related_project">
				                        <a title="" href="{% static '' %}images/home-ix/0022.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/0022-175x175.jpg" alt="0022" title="0022" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="{% static '' %}images/home-ix/00313.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/00313-175x175.jpg" alt="00313" title="00313" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="{% static '' %}images/home-ix/00111.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/00111-175x175.jpg" alt="00111" title="00111" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="{% static '' %}images/home-ix/0058.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/0058-175x175.jpg" alt="0058" title="0058" />					</a>
				                    </div>
				                    <div class="related_project">
				                        <a title="" href="{% static '' %}images/home-ix/0076.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/0076-175x175.jpg" alt="0076" title="0076" />					</a>
				                    </div>
				                    <div class="related_project_last related_project">
				                        <a title="" href="{% static '' %}images/home-ix/0094.jpg" class="related_img related_proj" rel="lightbox">
				                        <img src="{% static '' %}images/home-ix/0094-175x175.jpg" alt="0094" title="0094" />					</a>
				                    </div>
				                </div>
				            </div>
				            <div class="clear"></div>
				        </div>
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->








				<!-- START COPYRIGHT -->
                <div id="copyright">
                    <div class="inner group">
                        <div class="left">
                            <a href=""><strong>ALL RIGHTS RESERVE BY INSOVERSEAS</strong></a>
                        </div>
                        <div class="right">
                            <a href="#" class="socials-small facebook-small" title="Facebook">facebook</a>
                            <a href="#" class="socials-small rss-small" title="Rss">rss</a>
                            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>
                            <a href="#" class="socials-small flickr-small" title="Flickr">flickr</a>
                            <a href="#" class="socials-small skype-small" title="Skype">skype</a>
                            <a href="#" class="socials-small google-small" title="Google">google</a>
                            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END BG SHADOW -->





        <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>

    </body>
    <!-- END BODY -->
</html>
